/* Footer Styles */
.footer {
    background-color: #00bcd4; /* Light blue to match the navbar */
    color: white;
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #ddd;
}

.footer__info {
    margin-bottom: 10px;
}

.footer__text {
    margin: 0;
    padding: 0;
}

.footer__links, .footer__social {
    padding: 0;
    list-style: none;
}

.footer__link, .footer__social-link {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.footer__link:hover, .footer__social-link:hover {
    color: #00a1ba; /* Lighter blue for hover effect */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .footer {
        padding: 10px 0;
    }

    .footer__links, .footer__social {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__link, .footer__social-link {
        margin: 5px 0;
    }
}
